# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environment folder
venv/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.csv
*.tmp

# IDE settings (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables
.env

# Exclude large datasets or specific files if necessary
data/
*.zip
